/*
/*/*

# Dependency directories
node_modules/

# Temporary directories and files
.tmp_reveal2video/
tmp_reveal2video/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Executables and build outputs
reveal2video
reveal2video-bin
*.exe
*.bin

# Environment variables
.env
.env.local

!.gitignore
!package.json
!reveal2video.js
!build.sh

!README.md
!LICENSE.md
!CHANGELOG.md
